.container {
  height: 200px;
  width: 200px;
  margin: 200px auto;
  perspective: 800px; }

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  animation: rotate 10s linear infinite;
  transform-style: preserve-3d; }
  .cube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%; }

.wall {
  position: absolute;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  text-transform: uppercase;
  font-weight: bold;
  color: darkslategrey;
  opacity: .7; }

.front {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateY(0deg) translateZ(100px); }

.back {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg) translateZ(100px); }

.top {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateX(90deg) translateZ(100px); }

.bottom {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateX(-90deg) translateZ(100px); }

.left {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateY(-90deg) translateZ(100px); }

.right {
  border: 1px solid teal;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotateY(90deg) translateZ(100px); }

@keyframes rotate {
  0% {
    transform: rotate3d(1, 1, 1, 0deg); }
  100% {
    transform: rotate3d(1, 1, 1, 360deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'AvertaStd', sans-serif;
  height: 100%;
  font-weight: 400;
  color: #fff;
  background: #444; }

a {
  text-decoration: none; }

#container {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

.main-container {
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 6rem 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .main-container > * {
    justify-self: center;
    align-self: center; }
  @media only screen and (max-width: 800px) {
    .main-container {
      grid-template-columns: 1fr;
      margin-top: 7rem; } }

.heading {
  font-size: 5rem; }
  .heading span {
    display: inline-block; }

#nav-bar {
  position: fixed;
  display: inline-block;
  height: 100vh;
  width: 6rem;
  background-color: #181818;
  z-index: 9999;
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    #nav-bar {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex; } }
  #nav-bar .logo {
    background-color: #070707; }
    @media only screen and (max-width: 800px) {
      #nav-bar .logo {
        justify-self: flex-start; } }
    #nav-bar .logo-img {
      display: block;
      height: 8rem;
      width: 6rem; }
  #nav-bar .nav {
    height: 100%;
    width: 100%;
    margin-top: 7rem; }
    @media only screen and (max-width: 800px) {
      #nav-bar .nav {
        margin: 0;
        justify-self: space-between;
        align-self: center; } }
    #nav-bar .nav .nav-list {
      list-style: none; }
      @media only screen and (max-width: 800px) {
        #nav-bar .nav .nav-list {
          display: flex;
          justify-content: space-around;
          align-items: center; } }
      #nav-bar .nav .nav-list .nav-list_item,
      #nav-bar .nav .nav-list .nav-list_item:active,
      #nav-bar .nav .nav-list .nav-list_item:link {
        padding: 2rem 0;
        text-align: center;
        color: #444;
        font-size: 2.2rem; }
        #nav-bar .nav .nav-list .nav-list_item a,
        #nav-bar .nav .nav-list .nav-list_item:active a,
        #nav-bar .nav .nav-list .nav-list_item:link a {
          color: #444;
          transition: all 1s; }
          #nav-bar .nav .nav-list .nav-list_item a:hover .fas,
          #nav-bar .nav .nav-list .nav-list_item:active a:hover .fas,
          #nav-bar .nav .nav-list .nav-list_item:link a:hover .fas {
            color: #08fdd8;
            display: none; }
          #nav-bar .nav .nav-list .nav-list_item a:hover .nav-text,
          #nav-bar .nav .nav-list .nav-list_item:active a:hover .nav-text,
          #nav-bar .nav .nav-list .nav-list_item:link a:hover .nav-text {
            display: inline-block;
            text-align: right; }
  #nav-bar .social-list {
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    list-style: none; }
    @media only screen and (max-width: 800px) {
      #nav-bar .social-list {
        display: none; } }
    #nav-bar .social-list .social-list_item {
      padding: 0.8rem;
      text-align: center;
      color: #444;
      font-size: 1.5rem; }
      #nav-bar .social-list .social-list_item a {
        color: #444;
        transition: all .2s; }
        #nav-bar .social-list .social-list_item a:hover {
          color: #08fdd8; }

#tagcloud {
  padding: 0 3.5rem; }

#tagcloud ul {
  resize: none;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

#tagcloud ul li a {
  font-size: 18px;
  color: aqua;
  font-weight: bold; }

.active a i {
  color: #08fdd8; }

span {
  margin: 0;
  padding: 0;
  letter-spacing: 0; }

.nav-text {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #08fdd8;
  text-align: center;
  transition: all 1s;
  padding: 0 0.7rem;
  text-transform: uppercase; }

.dot {
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  top: 50%;
  background-color: #08fdd8;
  transform: translate(-20%, -50%);
  animation: 1.5s linear loader 1;
  z-index: 999; }

.dot:nth-of-type(1) {
  left: 0px; }

.dot:nth-of-type(2) {
  left: -10px;
  animation-delay: 0.15s; }

.dot:nth-of-type(3) {
  left: -20px;
  animation-delay: 0.3s; }

.dot:nth-of-type(4) {
  left: -30px;
  animation-delay: 0.45s; }

.dot:nth-of-type(5) {
  left: -40px;
  animation-delay: 0.60s; }

@keyframes loader {
  0%, 20% {
    transform: translate(0, -50%);
    opacity: 0; }
  35% {
    transform: translate(45vw, -50%);
    opacity: 1; }
  65% {
    transform: translate(55vw, -50%);
    opacity: 1; }
  80%, 100% {
    transform: translate(100vw, -50%);
    opacity: 0; } }
