
.container {
    height: 200px;
    width: 200px;
    margin: 200px auto;
    perspective: 800px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    animation: rotate 10s linear infinite;
    transform-style: preserve-3d;

    &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:50%;
        height: 50%;
    }
}

.wall {
    position: absolute;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkslategrey;
    opacity: .7;
}

.front {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateY(180deg) translateZ(100px);

}

.top {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateX(-90deg) translateZ(100px);
}

.left {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    border: 1px solid teal;
    background-color: rgba(0,0,0,0.2);
    transform: rotateY(90deg) translateZ(100px);
}

@keyframes rotate {
    0%   { transform: rotate3d(1,1,1,0deg); }
    100% { transform: rotate3d(1,1,1,360deg); }
}


