*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px    10/16px = 62.5%
}

body {
    font-family: 'AvertaStd', sans-serif;
    height: 100%;
    font-weight: 400;
    color: #fff;
    background: $dark;
}

a {
    text-decoration: none;
}

.nav-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}