#container {
    display: inline-block;
    max-width: 90vw;
    overflow: hidden;
}

@media only screen and (max-width:768px){
#container {
    max-width: 80vw;
    max-height: 100%;
    }
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
