
#nav-bar {
    position: fixed;
    display: inline-block;
    height: 100vh;
    width: 6rem;
    background-color: #181818;
    z-index: 9999;
    overflow: hidden;

    @media only screen and (max-width: 800px) {
        position: relative;
        height: 100%;
        width: 100%;
        display:flex;
        }


    .logo {
        background-color: #070707;

        @media only screen and (max-width: 800px) {
        justify-self: flex-start;
        }

        &-img {
            display: block;
            height: 8rem;
            width: 6rem;
        }
    }


    .nav {
        height: 100%;
        width: 100%;
        margin-top: 7rem;

        @media only screen and (max-width: 800px) {
            margin: 0;
            justify-self: space-between;
            align-self: center;
            
            }
        
        .nav-list {
            list-style: none;

            @media only screen and (max-width: 800px) {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                }
     
            .nav-list_item,
            .nav-list_item:active,
            .nav-list_item:link {
                            
                padding: 2rem 0;
                text-align: center;
                color: $dark;
                font-size: 2.2rem;
                
                 
                a {
                     color: $dark;
                     transition: all 1s;
                    
                     &:hover .fas {
                        color: $primary;
                        display: none;
                    }

                    &:hover .nav-text {
                        display: inline-block;
                        text-align: right;
                    }
                
                 }
           
            }
        }
    }

   

        
        .social-list {
            height: 100%;
            width: 100%;
            margin-top: 3rem;
            list-style: none;
            @media only screen and (max-width: 800px) {
                display: none;
                }

            .social-list_item {
                padding: 0.8rem;
                text-align: center;
                color: $dark;
                font-size: 1.5rem;

                a {
                    color: $dark;
                    transition: all .2s;

                    &:hover {
                       color: $primary;
                   }
                }

               
            }
        }
}