#nav-bar {
    display: inline-block;
    height: 100vh;
    width: 6rem;
    background-color: #181818;
    z-index: 99;
    overflow: hidden;


    .logo {
        background-color: #070707;

        &-img {
            display: block;
            height: 8rem;
            width: 6rem;
        }
    }

    .nav {
        height: 100%;
        margin-top: 7rem;
        .nav-list {
            list-style: none;
     
            .nav-list_item,
            .nav-list_item:active,
            .nav-list_item:link {
                
                padding: 2rem 0;
                text-align: center;
                color: $dark;
                font-size: 2.2rem;
                
                 
                a {
                     color: $dark;
                     transition: all 1s;
                    
                     &:hover .fas {
                        color: $primary;
                        display: none;
                    }

                    &:hover .nav-text {
                        display: inline-block;
                        text-align: right;
                    }
                
                 }
           
            }
        }
    }

    .social {
        height: 100%;
        margin-top: 3rem;
        .social-list {
            list-style: none;

            .social-list_item {
                padding: 0.8rem;
                text-align: center;
                color: $dark;
                font-size: 1.5rem;

                a {
                    color: $dark;
                    transition: all .2s;

                    &:hover {
                       color: $primary;
                   }
                }

               
            }
        }
    }
}