
#tagcloud {
padding: 0 3.5rem;
}
#tagcloud ul {
    resize: none;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    }
#tagcloud ul li a {
    font-size: 18px;
    color: aqua;
    font-weight: bold;
}